@model Eogrenme.Areas.Admin.ViewModels.UserArray

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <form action="#" method="get">
                <div class="input-group">
                    <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                    <input class="form-control" id="system-search" name="q" placeholder="Search for" required>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
                </div>
            </form>
        </div>
        <div class="col-md-9">
            <table class="table table-list-search">
                <thead>
                    <tr>
                        <th>Numara</th>
                        <th>Ad</th>
                        <th>Soyad</th>
                        <th>Sifre</th>
                        <th>Rol</th>
                        <th>Bolum</th>
                        <th>Kullanıcı Düzenle</th>
                        <th>Kullanıcı Sil</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Kisilers)
                    {


                    <tr>

                        <td>@user.Numara</td>
                        <td>@user.Ad</td>
                        <td>@user.Soyad</td>
                        <td>@user.Sifre</td>
                        <td>@user.Role.Name</td>
                        <td>@user.Bolum.BolumAd</td>
                        <td>  <a href="@Url.Action()"> <button type="button" class="btn btn-primary" >Düzenle</button> </a> </td>                 
                        <td>  <a href="@Url.Action("DeleteUser","User",new { id=user.Numara })"> <button type="button" class="btn btn-danger" onclick="uyari()">Sil</button> </a> </td>

                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/Areas/Content/user.js"></script>
<script language="javascript">function uyari() {

        alert("Silme işlemi yapıyorsunuz, bu işlemin geri dönüşü olmaz!");
    }</script>